#Gives permission to install SFDX
sudo: true

before_install:
#
# The before_install step will download the SFDX CLI and install it
#

#Decrypt server key
- openssl aes-256-cbc -K $encrypted_85b47e2f0acb_key -iv $encrypted_85b47e2f0acb_iv
  -in assets/server.key.enc -out assets/server.key -d

#Assign variables    
- export CLIURL=https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz  
- export SFDX_AUTOUPDATE_DISABLE=false
- export SFDX_USE_GENERIC_UNIX_KEYCHAIN=true
- export SFDX_DOMAIN_RETRY=300
- export SFDX_DISABLE_APP_HUB=true
- export SFDX_LOG_LEVEL=DEBUG
#Create SFDX directory
- mkdir sfdx
#Install SFDX
- wget -qO- $CLIURL | tar xJ -C sfdx --strip-components 1
- "./sfdx/install"
- export PATH=./sfdx/$(pwd):$PATH

before_script:
#
# The before_script step initializes varibles used in the script step
#

#Assign variables
- export DEPLOYDIR=src
- export TESTLEVEL=RunLocalTests
- sfdx --version
- sfdx plugins --core

script:
#
# The script step will authenticate to the target deployment org and deploy the metadata.
#

  #Authorize Target Deployment Org
- sfdx force:auth:jwt:grant --instanceurl https://test.salesforce.com  --clientid $CONSUMERKEY --jwtkeyfile assets/server.key --username $USERNAME --setalias UAT
  #Deploy to Target Deployment Org and Run Unit Tests
- sfdx force:mdapi:deploy --wait 10 --deploydir $DEPLOYDIR --targetusername UAT --testlevel $TESTLEVEL
  #Example shows how to run a check only deploy.
  #- sfdx force:mdapi:deploy --checkonly --wait 10 --deploydir $DEPLOYDIR --targetusername UAT --testlevel $TESTLEVEL